
@media screen and (max-width: 576px) {

    .header-container,
    .header-container-logo {
        flex-direction: column;
    }

    .btn-icon,
    .btn-icon-two {
        font-size: 16px;
        margin: 0px 0px;
    }

    .header-container-menu {
        margin-top: 45px;
    }

    .nav-button {
        margin-top: 20px;
    }

    .nav {
        background: none;
        box-shadow: none;
    }

    /* nav style ends here*/

    /* nav style starts here*/

    .banar {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .banar-img {
        width: 80%;
        margin: 0 auto 24px;

    }

    .banar-container {
        width: 100%;
        padding: 50px;
    }

    /* nav style ends here*/

    /* online game style starts here*/

    .online-game-container {

        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        margin-top: 35px;
    }

    .game-card {
        width: 80%;
        margin: 0 auto;
        padding: 15px;
    }

    .game-card p {
        font-size: 0.6rem;
    }

    .online-game-title h3 {
        font-size: 1.5rem;
    }

    .online-game-title p {
        font-size: 0.6rem;
    }

    /* online game style end here*/

    /* game play style starts */
    .game-play-container {
        flex-direction: column;
        padding: 10px 0px;

    }

    .litle {
        width: 150px;
        height: 150px;
    }

    .game-img {
        width: 70%;
        margin: 75px auto 0;
    }

    .game-content {
        width: 100%;
        text-align: center;
    }


    /* game play style starts */

    .footer-list,
    .footer-icons,
    .footer-privacy {
        flex-direction: column;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {

    .header-container,
    .header-container-logo {
        flex-direction: column;
    }

    .nav-items-container {
        margin-top: 45px;
    }

    .nav-button {
        margin-top: 20px;
    }

    /* banar style */

    .banar {
        flex-direction: column-reverse;
        padding: 25px;
    }

    .banar-img {
        width: 70%;
        margin: 0 auto 24px;

    }

    .banar-container {
        width: 100%;
    }

    /* banar style ends */
    /* online game style starts here*/

    .online-game-container {

        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        margin-top: 35px;
    }

    .game-card {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }

    .game-card p {
        font-size: 0.6rem;
    }

    .online-game-title h3 {
        font-size: 1.5rem;
    }

    .online-game-title p {
        font-size: 0.6rem;
    }

    /* online game style end here*/

    /* game play style starts */
    .game-play-container {
        flex-direction: column;
    }

    .litle {
        width: 150px;
        height: 150px;
    }

    .game-img {
        width: 70%;
        margin: 75px auto 0;
    }

    .game-content {
        width: 100%;
        text-align: center;
    }


    /* game play style starts */
}